/.DS_Store
straight/
/recentf
/config.el
cache/
/.local/@roambot/etc/eshell/history
/.local/@roambot/etc/eshell/lastdir
/.local/@roambot/etc/recentf
/.local/@roambot/etc/snippets/.DS_Store
/snippets
snippets/
/#config.org#
.cache/
var/
/.local/@roambot/etc/.DS_Store
/.local/.DS_Store
*.elc
.local/elpa/archives/
.local/@roambot/etc/tldr/
.local/@roambot/etc/emojis/
*.DS_Store
*/abbrev/*
magithub/
/.local/eshell/history
/bookmarks
diary-files
/.local/eshell/lastdir
multi-compile.cache
transient*
/.local/temp/etc/recentf
/.local/elpa-26/elpa/
/.local/quelpa/*
/.local/elisp/setup-config/*init.el
*.archive.el
/.local/elpa-27/
/.local/elpa/vterm-*/build
/.local/elpa/vterm-*/vterm-module.so
/custom.el
/.local/elisp/spacemacs-persp-extra
/.local/elisp/hercules.el/
.local/quelpa
/.local/elisp/private.el
