/.DS_Store
straight/
/recentf
/config.el
cache/
/.local/@roambot/etc/eshell/history
/.local/@roambot/etc/eshell/lastdir
/.local/@roambot/etc/recentf
/.local/@roambot/etc/snippets/.DS_Store
/snippets
snippets/
/#config.org#
.cache/
var/
/.local/@roambot/etc/.DS_Store
/.local/.DS_Store
*.elc
.local/elpa/archives/
.local/@roambot/etc/tldr/
.local/@roambot/etc/emojis/
*.DS_Store
*/abbrev/*
magithub/
/.local/eshell/history
/bookmarks
