*~undo-tree~
/custom.el
/config.el
elpa
/recentf
/saved-places
var/
/bookmarks
.backups
/config.org_archive
auto-save-list
#*#
/#config.org#
/projectile-bookmarks.eld
/recentf~
/snippets/
/eshell/history
/eshell/lastdir
.DS_Store
config.el*
/core-funcs.el
/core-keybindings.el
/evilify.el
/slides.pdf
.cache/
/private.el
.cask/
/games/tetris-scores
bak.*
/.persistent-scratch
*.git!COMMIT_EDITMSG
*COMMIT_EDITMSG
*.git!COMMIT_EDITMSG
*.git!COMMIT_EDITMSG
backup/*
delted
deleted
backup/*
