[submodule ".local/elisp/gcmh"]
	path = .local/elisp/gcmh
	url = https://gitlab.com/koral/gcmh.git
[submodule ".local/elisp/vterm"]
	path = .local/elisp/vterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule ".local/elisp/vterm-toggle"]
	path = .local/elisp/vterm-toggle
	url = https://github.com/jixiuf/vterm-toggle.git
[submodule ".local/elisp/emacs-libvterm"]
	path = .local/elisp/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "y"]
	path = .local/elisp/helm-org
	url = https://github.com/emacs-helm/helm-org.git
